@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.2s;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #030303;
}

::-webkit-scrollbar-thumb {
  background: #231956;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  user-select: none;
}

.page {
  background-color: #010313;
  min-height: 100vh;
}

.pageCenter {
  background-color: #010313;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  width: 100%;
  padding: 60px 12px;
}
@media screen and (max-width: 850px) {
  .section {
    padding: 25px 12px;
  }
}

.buttonTwo {
  border-radius: 10px;
  background: linear-gradient(97deg, #1e245a 0%, #261053 100%);
  padding: 8px 16px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  transition: all 0.3s;
  border: 2px solid #2d1fc8;
}

@media screen and (max-width: 450px) {
  .buttonTwo {
    padding: 6px 8px;
    font-size: 16px;
  }
}

.buttonTwo:hover {
  background: rgba(255, 255, 255, 0.04);
  border-color: rgba(255, 255, 255, 0.4);
}

.backButton {
  position: relative;
  z-index: 1;
  display: block;
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: linear-gradient(101deg, #2535d3 0%, #7e1fc8 107.59%);
  color: #9255f5;
}
.backButton::before {
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  border-radius: 10px;
  background: #1b0b47;
}

.toButton {
  position: relative;
  z-index: 1;
  display: block;
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.homeworksToButton {
  background: linear-gradient(101deg, #2535d3 0%, #7e1fc8 107.59%);
  color: #9255f5;
}
.assignmentsToButton {
  background: linear-gradient(101deg, #01a5fe 0%, #0136ef 107.59%);
  color: #01a4fe;
}
.notesToButton {
  background: linear-gradient(101deg, #00b786 0%, #024640 107.59%);
  color: #00eca5;
}
.toButton::before {
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  border-radius: 10px;
}
.homeworksToButton::before {
  background: #1b0b47;
}
.assignmentsToButton::before {
  background: #0e1d50;
}
.notesToButton::before {
  background: #0f2425;
}

.jodit-workplace {
  background-color: #0b0f2e !important;
}

.jodit-toolbar__box:not(:empty):not(:empty) {
  background-color: #171b3b !important;
}

.jodit-icon {
  stroke: #fff !important;
  fill: #fff !important;
}

.jodit-container:not(.jodit_inline) {
  border-radius: 5px !important;
  overflow: hidden !important;
  border: none;
}

.jodit-status-bar a.jodit-status-bar-link {
  display: none !important;
}

.jodit-toolbar__box:not(:empty) {
  border-bottom: none !important;
}

.jodit-popup__content {
  background: #171b3b !important;
}

.jodit-toolbar-button__icon:empty + .jodit-toolbar-button__text:not(:empty) {
  color: #fff !important;
}

/* .swiper-slide {
  transition: none;
} */

.openStatusAnimation {
  animation: openStatusAnimation 1.7s infinite;
}

@keyframes openStatusAnimation {
  0% {
    opacity: 100%;
  }
  40% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
  }
}
