@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.2s;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  user-select: none;
}

.page {
  background-color: #010313;
  min-height: 100vh;
}

.pageCenter {
  background-color: #010313;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  width: 100%;
  padding: 60px 12px;
}
